---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../sections/index/AboutSection.astro";
import Benefits from "../sections/index/Benefits.astro";
import FAQSection from "../sections/index/FAQSection.astro";
import Hero from "../sections/index/Hero.astro";
import HowItWorks from "../sections/index/HowItWorks.astro";

---

<Layout>
	<section id="hero" class="bg-white w-full">-
		<Hero />
	</section>

	<section id="sobre-la-app" class="bg-white w-full my-20">
		<AboutSection />
	</section>

	<section id="como-funciona" class="w-full">
		<HowItWorks />
	</section>

	<section id="beneficios" class="w-full">
		<Benefits />
	</section>

	<section id="faq" class="w-full">
		<FAQSection />
	</section>
</Layout>
